body {
  background-color: #bde0fe;
}

h1 {
  text-align: center;
  color: #ffafcc;
}

h2 {
  text-align: center;
  border: 1px solid #023047;
  padding: 15px;
  border-radius: 4px;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 10px;
}

p {
  line-height: 1.5;
  font-size: 15px;
  margin: 20px 0 10px;
}

.learn-more {
  display: block;
  margin: 10px;
  text-decoration: none;
  color: #b74bcf;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 60px;
}

.learn-more:hover {
  text-decoration: underline;
}

button {
  display: block;
  margin: 20px auto;
  background: #ffafcc;
  color: white;
  font-size: 18px;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

button:hover{
    opacity: 0.9;
    cursor: pointer;
    color: #4ba1cf;
}

.footer{
    text-align: center;
}
